c = 5
d = 640

print("C") if c > d else print("D")

c = 13
d = 9
if d > c:
  print("d is greater than c")
elif c == d:
  print("c and d are equal")
else:
  print("c is greater than d")

c = 17
d = 90

if d > c:
  print("d is greater than c")
